# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variable files
.env

# Logs
logs/
*.log
log/
pids/
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Coverage directory used by testing tools
coverage/

# Optional: VSCode settings
.vscode/

# Optional: Build output
dist/
build/
